$color-white: hsl(0, 0%, 100%);

$color-black-1: hsl(234, 17%, 12%);
$color-black-2: hsl(235, 16%, 14%);
$color-black-3: hsl(236, 21%, 26%);
$color-black-4: hsl(237, 18%, 59%);

$color-red: hsl(345, 95%, 68%);