*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Red Hat Text', sans-serif;
  font-size: 2rem;
  color: white; }

.flip-clock__element {
  width: 24.6rem;
  height: 23.8rem;
  position: relative;
  font-size: 15rem;
  color: #fb6087; }
  .flip-clock__elementTop, .flip-clock__elementBottom {
    position: absolute;
    height: calc(23.8rem / 2);
    display: flex;
    overflow: hidden;
    letter-spacing: -1.0rem;
    padding: 2rem;
    border-radius: 7px; }
  .flip-clock__elementTop {
    top: 0;
    left: 0;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #343650;
    border-bottom: 1px solid #343650; }
  .flip-clock__elementBottom {
    bottom: 0;
    left: 0;
    align-items: flex-end;
    justify-content: flex-start;
    background-color: #8486a9; }
  .flip-clock__element::before {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    background-color: red; }
