.flip-clock{
    &__element{
        width: 24.6rem;
        height: 23.8rem;

        position: relative;
        font-size: 15rem;
        color: $color-red;

        &Top,
        &Bottom{
           position: absolute;
           height: calc(23.8rem / 2);

           display: flex;
           overflow: hidden;
           letter-spacing: -1.0rem;
           padding: 2rem;
           border-radius: 7px;
        }

        &Top{
            top: 0;
            left: 0;

            align-items: flex-start;
            justify-content: flex-start;
            background-color: $color-black-3;

            border-bottom: 1px solid $color-black-3;
        }

        &Bottom{
            bottom: 0;
            left: 0;

            align-items: flex-end;
            justify-content: flex-start;
            background-color: $color-black-4;
        }

        &::before{
            position: absolute;
            content: '';
            width: 10px;
            height: 10px;
            background-color: red;
        }
    }
}