main{
    // background-color: $color-black-2;
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url('../img/pattern-hills.svg'), url('../img/bg-stars.svg'), linear-gradient(to bottom, $color-black-1, $color-black-2, #2F2439);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}

.flip-clock-row{
    flex: 1 1 100%;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.icon-box{
    display: flex;
    column-gap: 5rem;

    a:link,
    a:visited{
        fill: #8385A9;
        transition: all 0.5s;
        text-decoration: none;
    }

    a:hover{
        fill: $color-red;
    }
}